/*UP812110*/

/*Layout of pages*/
html{
    position:relative;
    min-height: 100%;
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
  }
  html,body{
    margin:0;
    padding:0;
  }
  body{
    /* background-color: #B2B2B2; */
    /* background: url('webpage-pictures/menu.png'); */
    background-color: #ffffff;
  }

  p{
    margin-bottom: 15px;
    line-height: 25px;
  }

  #resultTableImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }


  /*Navigation bar*/
  *{
    margin: 0;
      padding: 0;
      outline: none;
      border: none;
      -webkit-box-sizing: border-box;
  }
  *:before,
  *:after{
      -webkit-box-sizing: border-box;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  .container{
      width: 100%;
      margin: 0 auto;
  }

  header{
      width: 100%;
    padding: 20px;
    margin: 0;
    z-index: 99;
  }
  #headerfixed{
    padding-left:0;
    padding-right: 0;
      height: auto;
      background: #191919;
  }
  #headernamefixed {
    font-size: 15px;
    background: #436E70;
  }
  .header-left,
  .header-right{
      position: relative;
      color: #FFFFFF;
      float: left;
  }
  .header-left{
      width: 25%;
  }
  .header-right label{
      position: absolute;
      top: -3.7em;
      right: 0;
      cursor: pointer;
  }
  .header-right span{
      position: relative;
      width: 2em;
      height: 2em;
      background: rgba(255,255,255,.3);
      -webkit-transition: all .3s ease;
  }
  .header-right span:hover{
      background: rgba(255,255,255,.6);
  }
  .header-right span:before,
  .header-right span:after{
      content: '';
      position: absolute;
      width: 2em;
      height: .5em;
      top: 4px;
      left: 0;
      background: black;
  }
  .header-right span:after{
      top: 14px;
  }
  .header-right{
      width: 70%;
      text-align: right;
  }
  #open{
      display: none;
  }
  nav>a{
      text-decoration: none;
    padding-left: 0;
      color: #FFFFFF;
  }
  nav>a{
      position: relative;
      display: inline-block;
      font-size: 15px;
      line-height: 40px;
      padding: 0 2em;
      -webkit-transition: all .3s ease;
  }
  nav>a:hover{
      background: #FFFFFF;
      color: #000000;
  }
  .hidden-desktop{
      display: none;
  }
  .menu {
    position: fixed;
  }
  .starter{
    margin-top: 5.5em;
  }


  /*Page Layout*/
  .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  .main {
    color: #000000;
    background-color: #afcecf;
    border: 1px solid 000000;
    padding: 20px;
    text-align: left;
    margin-bottom: 13px;
  }
  .aside-1 {
    color: #000000;
    background-color: #eff5f5;
    border: 1px solid 000000;
    padding: 0;
  }
  .first{
    color: #000000;
    background: #F8F2E5;
    border: 1px solid 000000;
    padding: 30px;
  }
  .bibliography{
    color: #000000;
    font-size: 11px;
    line-height: 12px;
    border: 1px solid 000000;
    margin-bottom: 10px;
  }
  .footer{
      padding: 5px;
      position: absolute;
      bottom: 0;
      height:35px;
      color: #FFFFFF;
      background:#191919;
      width: 100%;
  }

  @media all and (min-width: 767px) {
    .aside {
      flex: 1 auto;
    }
    .aside-1{
      max-width: 15%;
      margin-left: 15%;
    }
    .main{
      padding: 30px;
    }
    #main1{
      padding-top: 130px;
      margin-left: 15%;
      margin-right: 15%;
    }
    #main2{
      padding-top: 130px;
      margin-right: 15%;
    }
    #headerfixed{
      position: fixed;
      height: 85px;
    }
    #headernamefixed{
      height: 35px;
      margin-top: 85px;
      position: fixed;
    }
    #logo{
      margin-left: 5%;
    }
    :target {
      display: block;
      position: relative;
      top: -150px;
      visibility: hidden;
    }
    .imagelayout{
      overflow:hidden; }
  }

  @media all and (min-width: 976px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .first   { order: 3; }
    .footer  { order: 4; }
  }

  @media only screen and (max-width: 976px) {
    footer{
        height: auto;
    }
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .first   { order: 3; }
    .footer  { order: 4; }
  }


  /* Portrait tablet to landscape and desktop */
  @media (min-width: 767px) and (max-width: 979px) {
      .box{
          width: 49%;
          margin-bottom: 5%;
      }
  }

  /* Small monitor */
  @media (max-width: 979px){
      nav>a{
          padding: 0 1.5em;
      }
  }
  @media (max-width: 550px){
    .footer{
      height: 60px;
    }
  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
      .container{
          width: 95%;
      }
      nav>a{
          padding: 0 1em;
      }
      h1{
          padding: .5em 0;
      }
      .header-left,
      .header-right{
          width: 100%;
          text-align: center;
      }
  }

  /* Landscape phones and down */
  @media (max-width: 550px) {
      body{
          padding: 0.5em;
      }
      .container{
          width: 90%;
      }
      nav{
          height: 0;
          overflow: hidden;
          -webkit-transition: all .3s ease;
      }
      input[type="checkbox"]:checked + nav{
          height: 205px;
      }
      nav>a{
          padding: 0 1em;
          display: block;
          border-bottom: solid 1px rgba(255,255,255,.1);
      }
      h1{
          padding: .5em 0;
      }
      .header-left,
      .header-right{
          width: 100%;
          text-align: center;
      }
      .hidden-desktop{
          display: block;
      }
  }



  /*Index Page - Search Page*/

  section{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #FFFFFF;
  }

  /*Select option*/

  input{
    display: inline-block;
    margin: 2px;
    padding: 2px;
    background-color: #f2f2f2;
  }

  #checkBoxStyle{
    padding-right: 10px;
  }

  /* The containerCheckBox */
  .containerCheckBox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .containerCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .containerCheckBox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .containerCheckBox input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .containerCheckBox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .containerCheckBox .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  /* form option */
  #myform ol {
        list-style-type: none;
  }

  #myform label {
        margin-top: 10px;
  }

  /*Result Table*/
  #tableStyle {
    font-family: Helvetica, arial, sans-serif;

    border-collapse: collapse;
    width: 100%;
  }

  #tableStyle td, #tableStyle th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #tableStyle tr:nth-child(even){background-color: #f2f2f2;}

  #tableStyle tr:hover {background-color: #ddd;}

  #tableStyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #436E70;
    color: white;
  }

/*
  #tableStyle table {
    font-family: Helvetica, arial, sans-serif;;
    border-collapse: collapse;
    width: 100%;
  }

  #tableStyle td, #tableStyle th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #tableStyle tr:nth-child(even){background-color: #f2f2f2;}

  #tableStyle tr:hover {background-color: #ddd;}

  #tableStyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #436E70;
    color: white;
  } */

  #tableStyle img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}






.tablebutton {
 /* display:inline-block; */
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;

}

.hscroll {
  overflow-x: auto; /* Horizontal */
}
/* #tableStyle button:hover{
 color:#000000;
 background-color:#FFFFFF;
} */



/*
@media all and (max-width:30em){
#tableStyle button{
  display:block;
  margin:0.4em auto;
 }
} */




/*Search form*/
#searchView{
  height: 450px;
  margin-bottom: 20px;
  display: inherit;
}


.searchForm{
 width:49%;
 display: inline-block;
  vertical-align: top;
  margin-right: 0.7%;
  height: inherit;

}

.displayMap{
  width: 49%;
  display: inline-block;
  display: relative;
  height: inherit;
  margin-left: 0.7%;
}

#map {
width: 100%;

}

#formStyleSearch{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: inherit;

}





/*Form */

.spaceSubmit input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.spaceSubmit input[type=submit] {
  width: 100%;
  background-color: #AFCECF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.spaceSubmit input[type=submit]:hover {
  background-color: #436E70;
}

/* .spaceSubmit div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */


.spaceSubmit textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}

#formStyle{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#autocomplete {
  padding: 0;

}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* .slidecontainer {
  width: 100%;
} */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}





/*testing card*/

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: left;
  display: inline-block;
} */

/* .title {
  color: grey;
  font-size: 18px;
} */
/* .card img{
  width:50%;
  display: inline-block;


}


.card h1 {
         color: #515151;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }

.card h2 {
        color: #515151;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }


.card        p {
         font-size: 12px;
         line-height: 20px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }

.card div{
  display: inline-block;
}


 */







/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
} */


/*singleResult style*/
.card * { box-sizing: border-box; }





    .banner {

      width: 100%;
      color: #727272;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 2px solid #efefef;
      font-size: 12px;



      }


    .photo {
      /* position:relative; */
      /* padding: 30px; */
      min-width: 30%;
      max-width: 45%;
      /* text-align: center; */
      /* float: Right; */
       display: inline-block;
       text-align: center;
}
          .photo img {
            margin: 5%;
            max-width: 100%;
        /* max-height: 240px; */
      }



    .description {
           /* padding: 30px; */
           /* float: left; */
           width: 50%;
           border-left: 2px solid #efefef;
           border-right: 2px solid #efefef;
           position:relative;
           /* padding: none; */
           display: inline-block;
           text-align: left;
           margin: 0;
         }

          .description  h1 {
             color: #515151;
             font-weight: 300;
             padding-top: 15px;
             margin: 0;
             font-size: 30px;
             font-weight: 300;
           }

           /* h2 {
            color: #515151;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
           }

           h4 {
             margin: 0;
             color: #727272;
             text-transform: uppercase;
             font-weight: 500;
             font-size: 12px
           } */

          .description  p {
             font-size: 12px;
             /* line-height: 20px; */
             color: #000000;
             /* padding: 20px 0; */
             margin: 0;
          }
          #map {
            height: 100%;
          }
